.btn-back-to-top i {
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
}

.btn-back-to-top {
   display: none;
   position: fixed;
   bottom: 65px;
   right: 15px;
   z-index: 99;
   font-size: 18px;
   border: 3px solid lightblue;
   outline: none;
   color: #3b3d3f;
   background-color: white;
   cursor: pointer;
   padding: 10px;
   border-radius: 10px;
   opacity: 0;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   animation: btnFadeIn 1s forwards ease-out;
   transition: all 0.3s ease-out;
}

.btn-back-to-top:hover {
   color: black;
   background-color: #faf0f0;
   box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
   border: 3px solid lightgreen;
}

@keyframes btnFadeIn {
  100% {
     opacity: 0.7;
  }
}
